.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
}

.game-board {
  border: 1px solid #efefef;
  border-radius: 10px;
  padding: 15px;
}

.game-row {
  display: flex;
}

.play-zone {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.token {
  width: 80px;
  height: 80px;
  margin: 8px;
  border-radius: 50%;
}

.player-0 {
  background-color: #efefef;
}

.player-1 {
  background-color: #ff686b;
}

.player-2 {
  background-color: #8093f1;
}

.play-token-1 {
  color: white;
}

.row-full {
  cursor: pointer;
  background-color: grey;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-token-1:hover {
  cursor: pointer;
  background-color: #ff686b;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-token-2 {
  color: white;
}

.play-token-2:hover {
  cursor: pointer;
  background-color: #8093f1;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.winner-announcement {
  background: linear-gradient(-45deg, #fcd5ce, #fae1dd, #ece4db, #d8e2dc);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  padding: 15px 0px;
  width: 100%;
  border-radius: 10px;
}
